        <div class="wp-central-content-about">
           <h2 class="title-top-about">О сайте</h2>
            <p class="wp-central-description-about">
              <span>skinswin.ru</span> – Сервис в котором участвующие вносят свои предметы (скины) и когда в сумме набирается 100 
              предметов, или истекает   время, система определяет 1 победителя, которому и достаются все внесенные предметы.
            </p>
            <p class="wp-central-description2-about">Победитель определяется случайным образом, шанс выигрыша зависит от стоимости внесенных скинов.</p>
            <div class="wrapper-principle-simple">
              <p class="wrapper-principle-simple-title">ПРИНЦИП ПРОСТ</p>
              <p class="wrapper-principle-simple-description">
                Чем больше и дороже предметы Вы ставите, тем больше шанс сорвать<br>      
                джекпот! Но даже вкладывая 1 копейку, у Вас есть возможность сорвать джекпот!
              </p>    
            </div>
            <div class="wrapper-how-it-works">
              <p class="wrapper-how-it-works-title">КАК ЭТО РАБОТАЕТ</p>
              <p class="wrapper-how-it-works-description-red">Вы вносите свои предметы через кнопку «Принять участие», отправляя трейд нашему боту.</p>
              <p class="wrapper-how-it-works-description-default">Вы можете внести максимум 16 скинов за раз, общая сумма которых не может быть меньше 30руб.

</p>
              <p class="wrapper-how-it-works-description-red">Мы переводим внесенные вами предметы в поинты в соотвествии с их ценой.</p>
              <p class="wrapper-how-it-works-description-default">За каждый 1 цент стоимости предметы вы получити 1 поинт (1руб. - 100 поинтов). Шанс на победу зависит от количества поинтов. Чем больше предметов вы внесете – тем выше ваш шанс на победу.</p>
              <p class="wrapper-how-it-works-description-red">При достижении порога в 100 скинов, или по истечению времени, мы собираем все выданные поинты вместе и случайным образом выбираем одного победителя.</p>
              <p class="wrapper-how-it-works-description-default">При этом в приоритете те участники, у которых поинтов больше чем у остальных.</p>
              <p class="wp-central-description3-about">Победитель получает все внесенные предметы с учетом коммисии по окончанию раунда.</p>
            </div>
            <div class="wp-rules-and-features">
              <p class="wp-rules-and-features-title">ПРАВИЛА И ОСОБЕННОСТИ:</p>
              <div class="wp-rules-and-features-list">
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Максимальный депозит предметов - 16 штук за трейд. Нет никаких верхних ограничений цены за предмет, 
                  депозит может начинаться общей суммой предметов не менее 30руб.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если любой предмет ввести в “банк” на последний депозит и счётчик предметов переходит определенный 
                  порог, то они будут рассматриваться в рамках нынешнего раунда, поскольку пользователь внёс их на участие 
                  в текущем, а не в предыдущем раунде.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Для развития сайта и проведения конкурсов, мы взимаем комиссию с каждой игры - 10% от всех вещей игры.
                  Депозиты и вывод призового фонда происходят почти мгновенно. Принятие в течении 7 секунд. 
                  Вывод моментально.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Каждый раз отправляя предметы, Вы соглашаетесь с правилами использования сайта.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если Ваш инвентарь закрыт, то следующая и последняя попытка отправки приза будет через 1 час. Повторная 
                  отправка приза выполняется уже тех. поддержкой.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Принимаются вещи только для CSGO, другие вещи будут приняты, но не будут засчитаны на сайте. Так-же мы 
                  можем гарантировать правильную оценку стоимости вещи только тогда, когда она есть на Торговой 
                  площадке Steam, или она не имеет сногсшибательную (выше в десятки раз) последнюю продажу, иначе ваш 
                  предмет может быть неверно оценен.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Запрещено ставить сувенирные предметы и сувенирные наборы, такие трейды отменяются.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Вы имеете гарантию получения ваших вещей до 23:00 этого же календарного дня. По истечении этого времени 
                  мы не несем ответственности за утерянные вещи.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если вы отменили обмен или отправили контр-предложение после победы, то ваши вещи возвращены вам не 
                  будут, так как бот не рассчитан на повторную отправку вещей.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если нашего бота забанили в течении 30 минут с окончания матча, мы возмещаем только вашу ставку, не выигрыш.
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если вы ставите в течении 30 секунд до окончания матча, то есть возможность что ваши скины попадут на 
                  следующую игру. Мы не несем за это ответственность: стим не всегда обрабатывает обмены мгновенно
                </div>
                <div class="wp-rules-and-features-list-i">
                  <div class="wp-rules-red"></div>
                  Если по каким-то причинам игра была сорвана (Steam отключился), или вовсе не стоялась, мы возвращаем 
                  только Ваш депозит, через тех. поддержку.
                </div>
              </div>
            </div>
        </div>