<div class="wp-central-content">
    <h2 class="title-top">О сайте</h2>
    <div class="about-wrapper">
        <p>Игра начинается при наличии двух участников. Победитель определяется случайным образом, шанс выигрыша зависит
            от стоимости внесенных скинов.
        </p>
        <p class="margin">Принцип прост</p>
        <p>Чем больше и дороже предметы Вы ставите, тем больше шанс сорвать джекпот!</p>
        <p>Но даже вкладывая 20 рублей, у Вас есть возможность сорвать джекпот!</p>

        <p class="margin">1. Вы вносите свои предметы нажимая на кнопку «Депозит», отправляя трейд нашему боту. Вы можете внести максимум
        20 скинов за раз, общая сумма которых не может быть меньше 1 руб.</p>

       <p class="margin">2. Правила и особенности.</p>
       <p class="margin">Максимальный трейд - 20 предметов. Нет никаких верхних ограничений цены за предмет, взнос может начинаться с
        общей суммы предметов не менее чем на 1 руб.</p>
        <p class="margin">Если вы вносите депозит в конце раунда, есть шанс, что ваши скины попадут в следующую игру. Мы не несем за это
        ответственность: Steam не всегда обрабатывает обмены мгновенно.</p>
        <p class="margin">Комиссия сервиса составляет или 0%, или 10%, в зависимости от величины выигрыша. В качестве комиссии берутся
        случайные скины из всего банка раунда.</p>
        <p class="margin">Выдача выигрыша передается сразу в автоматическом режиме. В редких случаях время выдачи может затянуться до
        нескольких минут.</p>
        <p class="margin">Если Ваш инвентарь закрыт или Вы указали неверную ссылку на инвентарь, то в течении часа Вы можете это исправить
        самостоятельно или с помощью технической поддержки. Мы будем пытаться отправить выигрыш в течении отведенного
        времени.</p>
        <p class="margin">Если вы не забрали выигрыш в течении часа, он аннулируется. Это необходимо, что бы инвентарь бота не забивался.
        Каждый раз отправляя предметы, Вы соглашаетесь с правилами использования сайта.</p>
        <p class="margin">Принимаются вещи только для CS:GO, другие вещи будут приняты, но не будут засчитаны на сайте. Также мы можем
        гарантировать правильную оценку стоимости вещи только тогда, когда она есть на Торговой площадке Steam, иначе
        ваш предмет может быть неверно оценен.</p>
        <p class="margin">Запрещено ставить сувенирные предметы и сувенирные наборы, такие трейды отменяются.</p>
        <p class="margin">Мы оставляем за собой право высылать выигрыш случайными предметами эквивалентно сумме выигрыша, в случае, если
        по нашей вине выигрыш не был доставлен вовремя.</p>
    </div>
</div>