<div class="wp-central-content">
    <h2 class="title-top">F.A.Q</h2>
    <div class="faq-wrapper">
        <div class="faq-block">
            <h3 class="h3">КАК ПОЛЬЗОВАТЬСЯ САЙТОМ ?</h3>
            <p>
                При первом заходе на сайт cs.lottgame.com необходимо нажать на кнопку «Войти через Steam», далее вам
                необходимо
                указать ссылку для обмена торговыми предложениями, она будет находиться под вашим ником.
            </p>
        </div>
        <div class="faq-block">
            <h3 class="h3"> ДЛЯ ТОГО, ЧТО БЫ НАЧАТЬ ИГРАТЬ НЕОБХОДИМО ЗАГРУЗИТЬ СВОИ СКИНЫ НА САЙТ. СДЕЛАТЬ ЭТО МОЖНО
                СЛЕДУЮЩИМ
                ОБРАЗОМ:</h3>
            <p>Нажимаем кнопку “Депозит ”.
                Система сформирует вам торговое предложение, после чего Вы переходите в раздел «Обмен». В данном разделе
                Вы
                выбираете скины, которые Вы хотите внести.
                После подтверждения обмена, ваши скины будут зачислены на баланс сайта.
            </p>
        </div>
        <div class="faq-block">
            <h3 class="h3">КАК ПРОИЗВЕСТИ ВЫВОД СКИНОВ С САЙТА?</h3>
            <p>
                Для того, что бы произвести вывод скинов необходимо выбрать скины которые желаете вывести, затем нажать
                на
                кнопку
                “Вывести ”, после чего система отправит вам соответствующее уведомление и предложит подтвердить торговое
                предложение.
            </p>
        </div>
        <div class="faq-block">
            <h3 class="h3">МНЕ ПРИШЕЛ НЕ ВЕСЬ ВЫИГРЫШ! ГДЕ МОИ СКИНЫ ?</h3>
            <p>Система берет комиссию в размере - 10%.</p>
        </div>
        <div class="faq-block">
            <h3 class="h3">
                Я ВЫВЕЛ СВОИ СКИНЫ С САЙТА И ОТОШЕЛ ОТ КОМПЬЮТЕРА, КОГДА ВЕРНУЛСЯ ТО УВИДЕЛ, ЧТО ПРЕДЛОЖЕНИЕ ОБМЕНА БЫЛО
                ОТКЛОНЕНО.
                ГДЕ МОИ ВЕЩИ И ПОЧЕМУ ОБМЕН БЫЛ ОТКЛОНЕН?
            </h3>
            <p>
                Время жизни предложения обмена составляет 15 минут, после чего система автоматически отменит его. Ваши
                скины
                будут
                возвращены в инвентарь на сайте cs.lottgame.com
            </p>
        </div>
        <div class="faq-block">
            <h3 class="h3">ЕСЛИ У МЕНЯ ЕСТЬ ПРОБЛЕМА, Я МОГУ ОБРАТИТЬСЯ ЗА ЕЕ РЕШЕНИЕМ В СЛУЖБУ ТЕХНИЧЕСКОЙ ПОДДЕРЖКИ?</h3>
            <p>
                Да, если у вас возникла проблема, сообщайте о ней службе технической поддержки - Перейти. Помните, что
                чем
                больше информации вы укажите при описании проблемы, тем качественней и быстрее будет решен ваш вопрос.
                Напоминаем: после создания запроса в техническую поддержку, обработка запроса может занимать до 24
                часов,
                не смотря на то, что служба технической поддержки на проекте cs.lottgame.com работает круглосуточно.
            </p>
        </div>
    </div>
</div>