<div class="wp-central-content">
    <!--<div class="wrapper-activity-jackpot-main">-->
    <!--<div class="wrapper-jackpot-main">-->
    <!--<p class="wrapper-jackpot-main-title">Главный джекпот игры:</p>-->
    <!--<div class="wrapper-jackpot-main-sum">{{maxJackpotInGame | number : 2}} <span>{{currency}}</span></div>-->
    <!--</div>-->
    <!--<div class="clear"></div>-->
    <!--</div>-->
    <div class="wrapper-main-game">
        <div class="wrapper-last-winner">
            <div class="wrapper-last-winner-block name">
                <p class="last-winner-chance-title">
                    Победил: <span class="user-name">{{prevGame.winner.name}}</span>
                </p>
            </div>
            <div class="wrapper-last-winner-block">
                <p class="last-winner-winnings-title">Банк: <span>{{prevGame.cost}}{{currency}}</span></p>
            </div>
            <div class="wrapper-last-winner-block">
                <p class="last-winner-chance-title">C шансом: <span>{{prevGame.percent | number: 2}}%</span></p>
            </div>
        </div>
        <div class="wrapper-main-game-title">
            <p class="wrapper-main-game-title-i">Игра #<span>{{currentGame.id}}</span></p>
        </div>
        <div class="wrapper-main-game-title-bank">
            БАНК {{currentGame.cost | number : 2}}<span> {{currency}}</span>
        </div>
        <div class="wp-timer-i">
            <div class="timer countdownHolder gameEndTimer">
                <timer interval="1000" countdown="{{timer}}">
                        <span class="countMinutes">
                            <span class="position digit">
                                {{mminutes | limitTo: 1}}
                            </span>
                            <span class="position digit">
                                {{mminutes | limitTo: -1}}
                            </span>
                        </span>

                    <span class="countSeconds">
                            <span class="position digit">
                                {{sseconds | limitTo: 1}}
                            </span>
                            <span class="position digit">
                                {{sseconds | limitTo: -1}}
                                <!--    <span class="digit static ng-binding" style="top: 0px; opacity: 1;">
                                   </span> -->
                            </span>
                        </span>
                </timer>
            </div>
        </div>
        <div class="items-pull">
            <div class="item" ng-repeat="bet in bets track by $index">
                <img ng-src="http://steamcommunity-a.akamaihd.net/economy/image/{{bet.Warehouse.image}}">
                <span class="price">${{bet.Warehouse.price}}</span>
                <span class="weapon-name">{{bet.Warehouse.name}}</span>
            </div>
        </div>
        <!--<div class="wrapper-progressbar-timer" ng-if="!showRoulette">-->
        <!--<div class="wp-progressbar">-->
        <!--<div class="wp-loader-i"></div>-->
        <!--<div class="progressbar-text"><span>{{currentGame.itemsnum | number: 0}}</span> {{num2str(bid.items_to_receive.length, ['предмет', 'предмета', 'предметов'])}}</div>-->
        <!--<div class="progressbar-value" style="width: {{(currentGame.itemsnum / infConfig.maxitems) * 100| number: 0}}%;">-->
        <!--<div class="progressbar-stripes"></div>-->
        <!--</div>-->
        <!--</div>-->
        <!--<div class="clear"></div>-->
        <!--</div>-->

        <div id="roulette-template" class="qwe min-box" ng-hide="!showRoulette">
            <div class="triangle-roulette"></div>
        </div>
        <div class="game-info" ng-if="gameOver">
            <div>
                <div class="game-end-winner">
                    <span class="game-end-winner-name">Победил игрок: <strong>{{ winnerName }}</strong></span>
                    <span class="game-end-winner-chance">Шанс: <strong>{{winnerChance}}%</strong></span>
                    <span class="game-end-winner-money">Выигрыш: <strong class="winner-cost-value">{{ currentGame.cost }}{{ currency }}</strong></span>
                    <div class="clearfix"></div>
                </div>
            </div>
        </div>


        <ks-swiper-container initial-slide="10" loop="false" ng-if="currentGame.status === 'INPROGRESS'"
                             show-nav-buttons="true" slides-per-view="0" space-between="0" pagination-clickable="false"
                             class="customers players-percent">
            <ks-swiper-slide class="swiper-slide customer" style="background-image:url({{getUserImg(user.steamid)}});"
                             ng-repeat="user in currentGame.users | orderBy:'-chance'">
                <span class="probability perc">{{user.chance*100 | number : 2}}</span>
            </ks-swiper-slide>
        </ks-swiper-container>
        <div class="set-items nologin" ng-if="auth === false">
            <a class="lets-go enter-player" href="/login">ВОЙТИ И ИГРАТЬ</a>
        </div>
        <div class="set-items nologin" ng-if="auth !== false && !loggedUser">
            <a class="lets-go enter-player" ng-click="putBet()" href="">Сделать ставку</a>
        </div>

        <div class="kart-loader" ng-if="loading">
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
            <div class="sheath">
                <div class="segment"></div>
            </div>
        </div>

        <div class="set-items" ng-if="auth !== false && loggedUser"
             ng-repeat="user in currentGame.users | filter:{steamid: auth.steamid}">
            <div class="your-sets">
                <p>{{user.itemsCnt}} из 20</p>
                <p>Вы вложили в игру</p>
            </div>
            <div class="your-chance">
                <span>Ваш шанс на победу: {{user.chance*100 | number : 2}}%</span>
            </div>
            <a class="lets-go" href="{{infConfig.tradelink}}" target="_blank">ВСТУПИТЬ В ИГРУ</a>
        </div>
        <div class="game-end" ng-if="currentGame.status == 'FINISHED'">
            <p class="end-title">ИГРА ЗАКОНЧИЛАСЬ</p>
            <p class="number-round"><span class="fair-game-link" ng-click="openFairModal()">Честная игра</span><span>Число раунда: {{currentGame.clearGame.number}}</span>
            </p>
        </div>
        <div class="game-now-ending" ng-if="currentGame.status == 'WAIT' || currentGame.status == 'ROULETTE'">
            <p class="end-title">ИГРА ЗАКАНЧИВАЕТСЯ</p>
            <p class="number-round">принимаются последние ставки из очереди в текущую игру</p>
        </div>

        <div class="all-bets">
            <div class="bet-wrapper"
                 ng-repeat="bet in betsGrouped track by $index">
                <div class="bet-name-wrapper">
                    <img ng-src="{{bet.avatar}}">
                    <div class="row">
                        <span class="bet-name">{{bet.name}}</span>
                        <span class="bet-count">{{bet.items.length}} вещей</span>
                    </div>
                </div>
                <div class="bet-sum"><span>{{bet.sum | number : 2}}$</span></div>
                <div class="bet-chance-wrapper">
                    <span class="bet-chance">{{getUserChance(bet.userId)}}%</span>
                </div>
                <div class="clear"></div>
            </div>
        </div>
        <!--<p class="hash">Hash: {{currentGame.module}}</p>-->
    </div>
</div>
