    <div class="popup-support">
      <div>
        <a href="#" class="logo-popup-profile"></a>
        <div class="support-content">
            <h2 class="support-title">ОГРОМНАЯ ПРОСЬБА ПЕРЕД ТЕМ КАК ЗАДАВАТЬ ВОПРОС В НАШУ ТЕХ. ПОДДЕРЖКУ ПРОЧИТАЙТЕ ДАННЫЙ FAQ, ГДЕ ВЫ ВЕРОЯТНЕЕ ВСЕГО НАЙДЕТЕ ОТВЕТ НА ВАШИ ВОПРОСЫ.</h2>
            <div class="faq-answers">
              <div class="answer-post">
                <div class="question-cs">
                    <span class="question-title">Вопрос:</span>
                    <span class="question-text">Мне пришли не все предметы после победы!</span>
                </div>
                <div class="answer">
                    <span class="answer-title">Ответ:</span>
                    <span class="answer-text">C каждой победы мы берем комиссию 7%.</span>
                </div>
              </div>
              <div class="answer-post">
                <div class="question-cs">
                    <span class="question-title">Вопрос:</span>
                    <span class="question-text">Мне не пришел выигрыш!</span>
                </div>
                <div class="answer">
                    <span class="answer-title">Ответ:</span>
                    <span class="answer-text">Отправка предметов может занимать до 30 минут (в зависимости от загруженности ботов), а также 
обратите внимание на то, что в настройках приватности вашего аккаунта Steam Ваш инвентарь должен быть открыт: <a class='links' href="http://steamcommunity.com/id/me/edit/settings/">http://steamcommunity.com/id/me/edit/settings/</a></span>
                </div>
              </div>
              <div class="answer-post">
                <div class="question-cs">
                    <span class="question-title">Вопрос:</span>
                    <span class="question-text">Моя вещь не засчиталась, что делать?</span>
                </div>
                <div class="answer">
                    <span class="answer-title">Ответ:</span>
                    <span class="answer-text">Все пришедшие вещи засчитываются. Если вещь не отображается, не стоит волноваться. Мы просто не смогли загрузить из Стима информацию и картинку. Но цена вещи из Стима всегда загружается и вещь участвует на равных правах в играх.</span>
                </div>
              </div>
              <div class="answer-post">
                <div class="question-cs">
                    <span class="question-title">Вопрос:</span>
                    <span class="question-text">Ваш бот отклоняет мой трейд!</span>
                </div>
                <div class="answer">
                    <span class="answer-title">Ответ:</span>
                    <span class="answer-text">Запрещено ставить сувенирные предметы и сувенирные наборы, такие трейды отменяются. И принимаются только те предметы, которые есть на <a class="links"href="http://steamcommunity.com/market/">торговой площадке Steam</a>, т.к. мы не сможем определить цену Вашего предмета. <br>А также принимается вещи только для <a class="links" href="http://store.steampowered.com/app/730/?l=russian">CS:GO</a>. Если Вы положили в трейд предметы с другой игры, такой трейд тоже будет отклонен нашим ботом.</span>
                </div>
              </div>
            </div>
            <div class="other-type">
              <span class='other-title'>Если Вы здесь не нашли ответа на Ваш вопрос, тогда Вы можете задать его нашему саппорту через эту форму отправки сообщений в VK.</span>
                <a href="http://vk.com/csgoin_in" class="support-link">Отправить сообщение саппорту в ВК</a>
            </div>
        </div>
      </div>
    </div>