<div class="wp-central-content">
    <h2 class="title-top">Поддержка</h2>
    <div class="support-wrapper">
        <h3 class="h3">Опишите свою проблему в этом поле, и специалисты тех. поддержки свяжутся с вами для решения
            проблемы в течении <b>24 часов</b></h3>
        <p><input type="text" class="name" placeholder="Имя"></p>
        <p><input type="email" class="email" placeholder="Email"></p>
        <p><textarea name="message" class="message" placeholder="Сообщение"></textarea></p>
        <button class="btn send-support">Отправить</button>
    </div>
</div>